body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #569c87;
  height: 100px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link .logo {
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .header__link .logo {
    max-height: 60%;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 100px 30px;
}

@media screen and (max-width: 600px) {
  main {
    padding: 10px 5px 100px 5px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #569c87;
  color: #fcca46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

footer a:hover {
  -webkit-animation: wiggle 120ms 2 ease-in-out;
          animation: wiggle 120ms 2 ease-in-out;
}

@media screen and (min-width: 800px) {
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
}

.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35%;
  margin: 10px 0;
  padding: 10px;
  height: 350px;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

@media screen and (max-width: 600px) {
  .menu-card {
    width: 100%;
  }
}

.menu-card__gradient {
  font-size: 1.2rem;
  text-align: center;
}

.menu-card__gradient--first {
  background: -webkit-linear-gradient(0deg, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__gradient--second {
  background: -webkit-linear-gradient(0deg, #c77412, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__gradient--third {
  background: -webkit-linear-gradient(0deg, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__gradient--fourth {
  background: -webkit-linear-gradient(0deg, #56a847, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__title {
  margin-top: 8px;
  font-size: 1.5rem;
}

.menu-card__title--first {
  text-transform: uppercase;
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
}

.menu-card__title--third--card {
  color: #0887fb;
}

.menu-card__title--fourth--card {
  color: #72bf56;
}

.menu-card__title--third, .menu-card__title--fourth {
  font-family: "Segoe Print";
}

.menu-card--first {
  background: #fcdfdb;
  color: #3c1218;
  font-family: "Pacifico";
}

.menu-card--second {
  background: #fff5fe;
  color: #c77412;
  font-family: "Croissant One";
}

.menu-card--third {
  background: #f9f9f9;
  color: black;
  font-family: "Dancing Script";
}

.menu-card--third .menu-card__subtitle {
  font-size: 1.3rem;
}

.menu-card--fourth {
  background: #fdfffd;
  color: black;
  font-family: "Kaushan Script";
}

.menu-card--fourth .menu-card__subtitle {
  font-size: 1.2rem;
}

.menu-card:hover {
  -webkit-animation: fade 300ms forwards;
          animation: fade 300ms forwards;
}

.menu-card:hover > .menu-card__content {
  -webkit-animation: zoom 400ms ease-in-out forwards;
          animation: zoom 400ms ease-in-out forwards;
}

a.menu-card {
  text-align: center;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #569c87;
  color: #fcca46;
  padding: 8px 35px;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 30px;
}

.load {
  width: 32px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.load__dot {
  background-color: #fcca46;
  height: 100%;
  width: 4px;
  border-radius: 50%;
  animation: dot 800ms infinite alternate-reverse both;
}

.load__dot--1 {
  -webkit-animation-delay: 266.66667ms;
          animation-delay: 266.66667ms;
}

.load__dot--2 {
  -webkit-animation-delay: 533.33333ms;
          animation-delay: 533.33333ms;
}

.load__dot--3 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .menu {
    width: 60%;
  }
}

.menu--first {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Segoe Print";
  font-weight: 400;
}

.menu--second {
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Garamond";
}

.menu--third {
  background-color: #f9f9f9;
  color: black;
  font-family: "Segoe Print";
}

.menu--fourth {
  background-color: #fdfffd;
  color: black;
  font-family: "Segoe Print";
}

.menu__title--first {
  font-family: "Pacifico";
  color: #3c1218;
}

.menu__title--second {
  font-family: "Croissant One";
  color: #c77412;
}

.menu__title--third {
  font-family: "Dancing Script";
  color: black;
}

.menu__title--fourth {
  font-family: "Kaushan Script";
  color: black;
}

.menu__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
}

.menu__category--second-color-2 {
  color: #6e4ccc;
}

.menu__category--second-color-3 {
  color: #905bfd;
}

.menu__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .menu__items {
    width: 90%;
  }
}

.menu__items--fullwidth {
  width: 100%;
}

.menu__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__signature {
  margin: 30px 0;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu--icon-signature {
  font-size: 2rem;
  margin-right: 5px;
}

.menu--third h3,
.menu--fourth h3 {
  font-size: 1rem;
  font-weight: normal;
}

.icon--top {
  font-size: 3rem;
}

.category__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .category__title {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.category__title img {
  max-height: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.underline {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
}

.underline--first::after {
  background-color: #3c1218;
}

.underline--second::after {
  background-color: #c77412;
}

.underline--third::after {
  background-color: black;
}

.underline--fourth::after {
  background-color: black;
}

.underline::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.underline--second--2::after {
  background-color: #6e4ccc;
}

.underline--second--3::after {
  background-color: #905bfd;
}

.underline--fourth--underline-color::after {
  background-color: #72bf56;
}

@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@keyframes wiggle {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@-webkit-keyframes dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes dash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .dish__price {
    margin-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */