body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #569c87;
  height: 100px;
}

header .logo {
  max-height: 80%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 100px 30px;
}

@media screen and (max-width: 600px) {
  main {
    padding: 10px 10px 100px 10px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #569c87;
  color: #fcca46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

footer a:hover {
  -webkit-animation: wiggle 120ms 2 ease-in-out;
          animation: wiggle 120ms 2 ease-in-out;
}

@media screen and (min-width: 800px) {
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
}

.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35%;
  margin: 10px 0;
  padding: 10px;
  height: 350px;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

@media screen and (max-width: 600px) {
  .menu-card {
    width: 100%;
  }
}

.menu-card__gradient {
  font-size: 1.2rem;
  text-align: center;
}

.menu-card__gradient--first {
  background: -webkit-linear-gradient(0deg, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__gradient--second {
  background: -webkit-linear-gradient(0deg, #c77412, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__gradient--third {
  background: -webkit-linear-gradient(0deg, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__gradient--fourth {
  background: -webkit-linear-gradient(0deg, #56a847, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card__title {
  margin-top: 8px;
  font-size: 1.5rem;
}

.menu-card--first {
  background: #fcdfdb;
  color: #3c1218;
  font-family: "Pacifico";
}

.menu-card--second {
  background: #fff5fe;
  color: #c77412;
  font-family: Georgia;
}

.menu-card--third {
  background: #f9f9f9;
  color: #0887fb;
  font-family: Georgia;
}

.menu-card--fourth {
  background: #fdfffd;
  color: #72bf56;
  font-family: Georgia;
}

.menu-card:hover {
  -webkit-animation: fade 300ms forwards;
          animation: fade 300ms forwards;
}

.menu-card:hover > .menu-card__content {
  -webkit-animation: zoom 400ms ease-in-out forwards;
          animation: zoom 400ms ease-in-out forwards;
}

a.menu-card {
  text-align: center;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #569c87;
  color: #fcca46;
  padding: 8px 35px;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 30px;
}

.load {
  width: 32px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.load__dot {
  background-color: #fcca46;
  height: 100%;
  width: 4px;
  border-radius: 50%;
  animation: dot 800ms infinite alternate-reverse both;
}

.load__dot--1 {
  -webkit-animation-delay: 266.66667ms;
          animation-delay: 266.66667ms;
}

.load__dot--2 {
  -webkit-animation-delay: 533.33333ms;
          animation-delay: 533.33333ms;
}

.load__dot--3 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .menu {
    width: 60%;
  }
}

.menu--first {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Pacifico";
}

.menu--second {
  background-color: #fff5fe;
  color: #c77412;
  font-family: Georgia;
}

.menu--third {
  background-color: #f9f9f9;
  color: #0887fb;
  font-family: Georgia;
}

.menu--fourth {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: Georgia;
}

.menu__title--first {
  font-family: "Pacifico";
  color: #3c1218;
  font-size: 2rem;
}

.menu__title--second {
  font-family: Georgia;
  color: #c77412;
}

.menu__title--third {
  font-family: Georgia;
  color: #0887fb;
}

.menu__title--fourth {
  font-family: Georgia;
  color: #72bf56;
}

.menu__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
}

.menu__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items--fullwidth {
  width: 100%;
}

.menu__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__signature {
  margin: 30px 0;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu--icon-signature {
  font-size: 2rem;
  margin-right: 5px;
}

.icon--top {
  font-size: 3rem;
}

.dish__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dish__category:before, .dish__category:after {
  content: "";
  height: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.dish__category:before {
  margin-right: 15px;
}

.dish__category:after {
  margin-left: 15px;
}

.dish__category--first:before, .dish__category--first:after {
  background-color: #3c1218;
}

.dish__category--first:before {
  -webkit-clip-path: polygon(1% 51%, 18% 51%, 58% 51%, 84% 51%, 99% 53%, 82% 53%, 48% 53%, 3% 52%);
          clip-path: polygon(1% 51%, 18% 51%, 58% 51%, 84% 51%, 99% 53%, 82% 53%, 48% 53%, 3% 52%);
}

.dish__category--first:after {
  -webkit-clip-path: polygon(1% 51%, 18% 51%, 58% 51%, 84% 51%, 99% 53%, 82% 53%, 48% 53%, 3% 52%);
          clip-path: polygon(1% 51%, 18% 51%, 58% 51%, 84% 51%, 99% 53%, 82% 53%, 48% 53%, 3% 52%);
}

.dish__category--second:before, .dish__category--second:after {
  background-color: black;
}

.dish__category--second:before {
  -webkit-clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
          clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
}

.dish__category--second:after {
  -webkit-clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
          clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
}

.dish__category--third:before, .dish__category--third:after {
  background-color: black;
}

.dish__category--third:before {
  -webkit-clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
          clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
}

.dish__category--third:after {
  -webkit-clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
          clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
}

.dish__category--fourth:before, .dish__category--fourth:after {
  background-color: black;
}

.dish__category--fourth:before {
  -webkit-clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
          clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
}

.dish__category--fourth:after {
  -webkit-clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
          clip-path: polygon(43% 38%, 34% 51%, 100% 51%, 100% 58%, 33% 59%, 41% 69%, 0% 50%);
}

@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@keyframes wiggle {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@-webkit-keyframes dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes dash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */