.container {
  width: 100%;
  @include desktop {
    width: 60%;
  }
}

.menu-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 35%;
  margin: 10px 0;
  padding: 10px;
  height: 350px;
  box-shadow: 1px 1px 5px grey;
  @include desktop {
    max-width: 250px;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  &__gradient {
    font-size: 1.2rem;
    text-align: center;
    @include gradient-map($cards-map);
  }
  &__title {
    margin-top: 8px;
    font-size: 1.5rem;
    &--first {
      text-transform: uppercase;
      font-family: "Segoe Print", sans-serif;
      font-weight: bold;
    }
    &--third {
      &--card {
        color: $third-color-2;
      }
    }
    &--fourth {
      &--card {
        color: $fourth-color-2;
      }
    }
    &--third,
    &--fourth {
      font-family: "Segoe Print";
    }
  }

  @include cards-map($cards-map);
  &:hover {
    animation: fade 300ms forwards;
    & > .menu-card__content {
      animation: zoom 400ms ease-in-out forwards;
    }
  }
}

a.menu-card {
  text-align: center;
}
