$cards-map: (
  first: (
    background: $first-color-1,
    color: $first-color-2,
    gradient-color-1: $first-color-3,
    gradient-color-2: $first-color-4,
    font-family: "Pacifico",
    // font-size: 2rem,
  ),
  second: (
    background: $second-color-1,
    color: $second-color-2,
    gradient-color-1: $second-color-2,
    gradient-color-2: $second-color-3,
    font-family: "Croissant One",
  ),
  third: (
    background: $third-color-1,
    color: $default-color,
    gradient-color-1: $third-color-3,
    gradient-color-2: $third-color-2,
    font-family: "Dancing Script",
  ),
  fourth: (
    background: $fourth-color-1,
    color: $default-color,
    gradient-color-1: $fourth-color-3,
    gradient-color-2: $fourth-color-4,
    font-family: "Kaushan Script",
  ),
);
