@mixin cards-map($cards-map) {
  @each $number, $value in $cards-map {
    &--#{$number} {
      background: map-get($value, background);
      color: map-get($value, color);
      font-family: map-get($value, font-family);

      @if (map-get($value, subtitle-size) != "") {
        .menu-card__subtitle {
          font-size: map-get($value, subtitle-size);
        }
      }
    }
  }
}

@mixin gradient-map($cards-map) {
  @each $number, $value in $cards-map {
    @if (map-has-key($value, gradient-color-1)) {
      &--#{$number} {
        background: -webkit-linear-gradient(
          0deg,
          map-get($value, gradient-color-1),
          map-get($value, gradient-color-2)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@mixin menu($cards-map) {
  @each $number, $value in $cards-map {
    &--#{$number} {
      background-color: map-get($value, background);
      color: map-get($map: $value, $key: color);
      font-family: map-get($map: $value, $key: font-secondary);
      font-weight: map-get($map: $value, $key: font-weight);
    }
  }
}

@mixin menu-title($cards-map) {
  @each $number, $value in $cards-map {
    &--#{$number} {
      font-family: map-get($value, font-family);
      color: map-get($value, color);
      //  font-size: map-get($value, font-size);
    }
  }
}

@mixin underline($cards-map) {
  @each $number, $value in $cards-map {
    &--#{$number} {
      &::after {
        background-color: map-get($map: $value, $key: color);
      }
    }
  }
}

@mixin desktop {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}
