$color-primary: #569c87;
$color-secondary: #fcca46;
$color-tertiary: white;
$default-color: black;

$dot-size: 4px;
$animation-duration: 800ms;

$first-color-1: #fcdfdb;
$first-color-2: #3c1218;
$first-color-3: #f05060;
$first-color-4: #f6916a;

$second-color-1: #fff5fe;
$second-color-2: #c77412;
$second-color-3: #905bfd;
$second-color-4: #6e4ccc;

$third-color-1: #f9f9f9;
$third-color-2: #0887fb;
$third-color-3: #0431df;
$third-color-4: #0887fb;

$fourth-color-1: #fdfffd;
$fourth-color-2: #72bf56;
$fourth-color-3: #56a847;
$fourth-color-4: #bfff7e;
