body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  height: 100px;
}

.header__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  .logo {
    max-height: 100%;
    @include mobile {
      max-height: 60%;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 100px 30px;
  @include mobile {
    padding: 10px 5px 100px 5px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $color-primary;
  color: $color-secondary;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  a {
    &:hover {
      animation: wiggle 120ms 2 ease-in-out;
    }
  }
  @include desktop {
    justify-content: space-around;
  }
}

a {
  text-decoration: none;
  color: unset;
}
