body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body > header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  height: 100px;
}

.header__link h1 {
  font-family: "Century Gothic";
  font-weight: 800;
  letter-spacing: -0.1em;
  color: $color-secondary;
  font-size: 5.2rem;
  @include mobile {
    font-size: 4rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 100px 30px;
  @include mobile {
    padding: 10px 5px 100px 5px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $color-primary;
  color: $color-secondary;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  a {
    &:hover {
      animation: wiggle 120ms 2 ease-in-out;
    }
  }
  @include desktop {
    justify-content: space-around;
  }
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  text-align: center;
}
