.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  box-shadow: 1px 1px 5px grey;
  overflow: hidden;
  @include desktop {
    width: 60%;
  }
  @include menu($cards-map);
  &__title {
    @include menu-title($cards-map);
  }
  &__category {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    &--second-color-2 {
      color: $second-color-4;
    }
    &--second-color-3 {
      color: $second-color-3;
    }
  }
  &__items {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    &--fullwidth {
      width: 100%;
    }
  }
  &__line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__signature {
    margin: 30px 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  &--icon-signature {
    font-size: 2rem;
    margin-right: 5px;
  }
}

.icon {
  &--top {
    font-size: 3rem;
  }
}

.category__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include mobile {
    justify-content: space-around;
  }
  img {
    max-height: 5px;
    flex: 1 1 auto;
  }
}

.underline {
  position: relative;
  flex: 1 0 auto;
  text-align: center;
  @include underline($cards-map);
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.right {
  transform: rotate(180deg);
}

.underline {
  &--second {
    &--2 {
      &::after {
        background-color: $second-color-4;
      }
    }
    &--3 {
      &::after {
        background-color: $second-color-3;
      }
    }
  }
  &--fourth {
    &--underline-color {
      &::after {
        background-color: $fourth-color-2;
      }
    }
  }
}
